{{> /common/header}}
{{> /common/navi-bar}}
	<form action="/moim/reply-task" method="post">
		<input type="hidden" name="moimId" value="{{moim.id}}">
		<input type="text" name="text">
		<input type="password" name="password"> 
		<button type="submit">등록</button>
	</form>


{{> /common/footer}}