{{> /common/header }}
{{> /common/navi-bar}}

{{#moim }}
<div class="p-2 mb-2 bg-light rounded-3">
	<div class="container-fluid py-2">
		<p class="fs-5 text-warning" >@{{manager.nick }} 님의 모임</p>
		<h1 class="fw-bold">{{title}} <small class="fs-6 text-secondary">{{cate}}</small></h1>
		<p class="fs-4">{{description }}</p>
		<p class="text-end text-black-80 fs-smaller">
			모임 예정일	: {{targetDate }} ({{duration}}h)
		</p>
		
	</div>
</div>
{{/moim }}

<div class="flex-wrap row px-1"></div>

<form action="/moim/reply-task" method="post">
	<input type="hidden" name="moimId" value="{{moim.id}}"> 
	<textarea name=text placeholder="내용"></textarea>
	<input type="password" name="password">
	<button type="submit">등록</button>
</form>
<div style="display: flex; flex-direction: column; align-items: center;">
	{{#replys}}

		<div class="flex-wrap row px-1">{{text}}</div>
	{{/replys}}
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    {{#replyPage}}
   		 <li class="page-item"><a class="page-link" href="/moim/view?id={{moim.id}}&page={{.}}">{{.}}</a></li>
	{{/replyPage}}	 
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

{{ > /common/footer }}