{{> /common/header}}
{{> /common/navi-bar}}
	<div class="container">
		
		

		
			<a href="/search"><button type="submit" class="btn btn-outline-primary">검색</button></a>
	
	</div>
	<div>
		<a href="/moim/write">모임등록</a>
	</div>
	

	
{{> /common/footer}}
