{{> /common/header}}

	<div>
		<a href="/moim/write"><button type="submit" class="btn btn-outline-primary">모임등록</button></a> 
		<a href="/search"><button type="submit" class="btn btn-outline-primary">유저 검색</button></a> 
		<a href="/moim/list"><button type="submit" class="btn btn-outline-primary">모임목록</button></a>
	</div>



{{> /common/footer}}
